.whyDescription {
    text-align: center;
    padding: 7rem 0 6rem;
}

.whyDescription h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #474949;
    letter-spacing: 2px;
}

.whyDescription p {
    font-size: 1.2rem;
    color: #474949;
    margin: 0 200px;
    padding-bottom: 0.9rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 8rem;
}

.box {
    flex: 1 0 50%;
    margin: 20px;
    box-sizing: border-box;
    border: 3px solid #E2D9D2;
}

.content {
    display: flex;
    align-items: center;
    padding: 7rem;
}
.content h1 {
    margin: 0;
    text-transform: uppercase;
    color: #474949;
    font-size: 40px;
    padding: 48px 0 8px;
    align-items: center;
}
.content h2 {
    margin: 0;
    padding: 5rem;
    color: #474949;
    text-transform: uppercase;
}

.content h5 {
    font-size: 1.2rem;
    color: #474949;
    padding-bottom: 0.9rem;
    text-align: center;
}
.centeredTitle{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.flexContainer{
    display:flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.textContainer{
    flex: 2;
    text-align: left;
}

.imageContainer{
    flex: 1;
    display: flex;
    justify-content: center;
}

.rightImage{
    max-width: 100%;
    height: auto;
}

.values {
    margin: 0;
    font-size: 1.2rem;
    color: #474949;
    padding-top: 2rem;
    text-align: left;
}

.content ul {
    list-style-type: disc;
    text-align: left;
    font-size: 1.2rem;
    color: #474949;
    margin: 0;
    font-weight: lighter;
    list-style-position: inside;
}

.content span {
    font-weight: bold;
    font-size: 1.3rem;
}

.content h4 {
    font-weight: bold;
    font-size: larger;
    padding: 48px 0 8px;
    text-decoration: underline;
}

.sustainability{
    font-size: 1.2rem;
    color: #474949;
    padding-bottom: 0.9rem;
}

.content h3 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #474949;
    letter-spacing: 2px;
}

.responsiveImage{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    padding: 0 20px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.centeredImage{
    max-width: 100%;
    height: auto;
}

.closing{
    font-size: 1.2rem;
    color: #474949;
    padding-top: 72px;
}

@media screen and (max-width: 1100px) {
    .whyDescription p {
        margin: 0 30px;
    }

    .box {
        flex: 1 0 100%;
        }
    .content h2 {
        padding: 1rem;
    }
    .content p {
        padding: 1rem;
    }
}

@media (max-width: 700px) {
    .content {
        flex-direction: column;
        padding: 12px;
    }
    .container {
        padding: 24px;
    }
    .box {
        margin: 24px 0;
    }
    .whyDescription{
        padding: 7rem 0 0;
    }
    .whyDescription p {
        margin: 16px;
    }
}