.whyDescription {
    text-align: center;
    padding: 7rem 0 6rem;
}

.whyDescription h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #474949;
    letter-spacing: 2px;
}

.whyDescription p {
    font-size: 1.2rem;
    color: #474949;
    margin: 0 200px;
    padding-bottom: 0.9rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 8rem;
}

.box {
    flex: 1 0 50%;
    margin: 20px;
    box-sizing: border-box;
    border: 3px solid #E2D9D2;
}

.content {
    display: flex;
    align-items: center;
}

.content h2 {
    margin: 0;
    padding: 5rem;
    color: #474949;
}

.content p {
    margin: 0;
    padding: 7rem;
    color: #474949;
}



@media screen and (max-width: 1100px) {
    .whyDescription p {
        margin: 0 30px;
    }

    .box {
        flex: 1 0 100%;
        }
    .content h2 {
        padding: 1rem;
    }
    .content p {
        padding: 1rem;
    }
}

@media (max-width: 700px) {
    .content {
        flex-direction: column;
    }
    .container {
        padding: 24px;
    }
    .box {
        margin: 24px 0;
    }
    .whyDescription{
        padding: 7rem 0 0;
    }
    .whyDescription p {
        margin: 16px;
    }
}