.title {
    text-align: center;
    padding: 6rem 0 2rem;
    background-color: white;
}

.title h1 {
    font-size: 2.5rem;
    color: #474949;
    letter-spacing: 2px;
}


.installerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.installerSection p {
    font-size: 1.2em;
    width: 35vw;
    text-align: center;
    padding-bottom: 1.5em;
    font-weight:lighter;
}

.howItWorks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.card {
    position: relative;
    margin: 16px;
    width: 100%;
    max-width: 1050px;
    background-color: #F0F0F0;;
  }
  
  .cardImage {
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .benefits {
    padding: 16px 32px 16px 50%;
    color: #474949;
  }
  
  .benefitsTitle {
    font-size: 1.5em;
    padding-top: 8px;
  }
  
  .benefitsDescription {
    margin: 8px 0 0;
    color: #555;
  }

  .howContent {
    padding: 16px 32px 16px 50%;
    color: #474949;
    text-align: end;
  }
  
  .howTitle {
    font-size: 1.5em;
    padding-top: 8px;
  }
  
  .howDescription {
    margin: 8px 0 0;
    color: #555;
    padding-bottom: 8px;
  }


  @media (max-width: 1200px) {
    .card {
      max-width: 80%;
    }
    .cardContent {
      max-width: 100%;
    }
  }