.diySection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diySection p {
    font-size: 1.2em;
    width: 35vw;
    text-align: center;
    padding-bottom: 1.5em;
    font-weight:lighter;
}

.diySection ul {
    padding-bottom: 1.5em;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: #474949;
}

.container {
    background-color: #F0F0F0;
}

.title {
    text-align: center;
    padding: 6rem 0 2rem;
    background-color: white;
}

.title h1 {
    font-size: 2.5rem;
    color: #474949;
    letter-spacing: 2px;
}

@media (max-width: 700px) {
    .diySection p {
        width: 75vw;
    }
}