.Toastify__slide-enter {
  opacity: 0;
  transform: translateX(100%);
}

.Toastify__slide-enter--active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease-out; /* Adjust the duration here */
}

.Toastify__slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.Toastify__slide-exit--active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-out; /* Adjust the duration here */
}
