.footer {
    background-color: #474949;
    color: white;
    padding: 1.5rem 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: lighter;
  }
  
  .links a:first-child {
    margin-left: 0;
  }

  .socialMedia {
    display: flex;
  }

  .socialMedia a {
    padding: 20px;
  }
  
  .copyright {
    text-align: center;
    padding: 12px;
  }

  @media (max-width: 700px) {
    .links {
        text-align: center;
        font-size: x-small;
        }
    .copyright {
      font-size: x-small;
    }
  }