.header {
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 8rem;
  }
  
  .logo {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .nav {
    display: flex;
  }
  
  .navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin-left: 2rem;
  }
  
  .navItem a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navItem a:hover {
    color: #E2D9D2;
  }
  