.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 16px;
  }
  
  @media (max-width: 1400px) {
    .gallery {
      justify-content: center;
    }
  }