.card {
    position: relative;
    margin: 16px;
    width: 100%;
    max-width: 1050px;
    min-height: 624px;
    background-color: #F0F0F0;
    display: flex;
  }
  
  .cardImage {
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .cardSetUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cardContent {
    padding: 16px 32px 16px 50%;
    color: #474949;
  }
  
  .cardTitle {
    font-size: 1.5em;
    padding-top: 8px;
  }
  
  .cardDescription {
    margin: 8px 0 0;
    color: #555;
  }


  @media (max-width: 1200px) {
    .card {
      max-width: 80%;
    }
    .cardContent {
      max-width: 100%;
    }
  }

  @media (max-width: 700px) {
    .card {
      position: static;
      display: flex;
      flex-direction: column;
    }

    .cardImage {
      position: static;
      transform: none;
      display: flex;
      object-fit: cover;
      width: 100%;
    }

    .cardContent {
      padding: 24px;
    }
  }